### Data Acquisition

This notebook includes all actions to get the data from Twitter.<br>
**Data**: Tweets that include '@BiciMad' (text and profile name)

## 1. Set up Tweepy

#### 1.1 My Appi

#### Appi 2

#### Appi 3

## 2. Query data
<hr>

### 2.1 Get Tweets

import pandas as pd

search_term = 'BiciMAD'

try:     
 # Creation of query method using parameters
    # tweets = tweepy.Cursor(api.user_timeline,id=username).items(count)
    tweets = tweepy.Cursor(api.search,
                   q=search_term,
                   lang="es").items(1000)
 
    tweets_list = [[tweet.created_at, tweet.id, tweet.text, tweet.user.name] for tweet in tweets]
 
 # Creation of dataframe from tweets list
 # Add or remove columns as you remove tweet information
    tweets_df = pd.DataFrame(tweets_list)
except BaseException as e:
    print('failed on_status,',str(e))
    time.sleep(3)

In [2]:
import pandas as pd
search_term = 'BiciMAD'
   
# Creation of query method using parameters
# tweets = tweepy.Cursor(api.user_timeline,id=username).items(count)
tweets = tweepy.Cursor(api.search,
                   q=search_term,
                   lang="es").items(1000)
 
tweets_list = [[tweet.created_at, tweet.id, tweet.text, tweet.user.name] for tweet in tweets]

# Creation of dataframe from tweets list
# Add or remove columns as you remove tweet information
tweets_df = pd.DataFrame(tweets_list)

In [3]:
df_tweets = tweets_df.copy()

### 2.2 Clean data
<hr>

- **Select columns** 
<br> 
    Select columns and rename
<br>
- **Drop duplicates** 
<br>
    Drop duplicate tweets based on 'text' Column

In [4]:
# Rename columns
df_tweets.set_axis(['date','id', 'text', 'user_name'], axis=1, inplace=True)

In [5]:
# Drop duplicates before sav
# Read alrady existing data 
df_old = pd.read_csv('../data/raw/rawdata.csv')
df_old = df_old.drop(columns =['Unnamed: 0'])
df_old = df_old.astype(str)

In [6]:
df_str = df_tweets.astype(str)

In [7]:
df = pd.merge(df_old, df_str, how ='outer')

In [8]:
df = df[df.date != 'date']

In [9]:
df.drop_duplicates(subset=['id'],keep='last', inplace= True)

In [10]:
df.reset_index()

,index,date,id,text,user_name
0,0,2020-10-10 11:07:26,1314885243531399169,@PlataformaEMT @FRAVM @BiciMAD @AlmeidaPP_ @bc...,VICENTE RODRIGUEZ MU
1,1,2020-10-10 10:38:11,1314877884067188736,@PlataformaEMT @MADRID @AlmeidaPP_ @bcarabante...,Stielike
2,2,2020-10-10 10:35:49,1314877290489184261,@mcascallares Ha podido tratarse de un fallo p...,BiciMAD
3,3,2020-10-10 10:35:14,1314877141658542083,"@AnxoOroisPhoto Te pedimos disculpas, ha podid...",BiciMAD
4,4,2020-10-10 10:13:18,1314871622487212033,"Hola @BiciMAD la app no funciona, llevo 1 hora...",AnxoOroisPhotography
...,...,...,...,...,...
8714,8714,2020-10-22 12:15:58,1319251147262222339,RT @PlataformaEMT: Estaci√≥n 98 de @BiciMAD 1 d...,Carlos ‚ò† Enjuto
8715,8715,2020-10-22 12:15:34,1319251047932624896,RT @Enamoradoporri3: #salvemosBicimad tanta in...,ErBoteRojo
8716,8716,2020-10-22 12:14:33,1319250791547494402,BiciMad es el √∫nico servicio p√∫blico de transp...,Sof√≠a P√©rez Mendoza
8717,8717,2020-10-22 12:14:30,1319250777702105089,RT @rojobote: @PlataformaEMT @BiciMAD @Almeida...,Julio
8718,8718,2020-10-22 12:10:32,1319249779440967680,RT @BicimadL: 27 octubre a las 11h en Cibeles ...,La Chica del 17

In [11]:
# check new Tweets are in df
df.sort_values('date', ascending = False).head(10)

,date,id,text,user_name
8525,2020-10-22 16:42:33,1319318232495423488,RT @rmajadas: Mi idea para la app de la @EMTma...,M√©lusine
8526,2020-10-22 16:42:05,1319318118716657665,RT @PlataformaEMT: Estaci√≥n 98 de @BiciMAD 1 d...,V√≠tor Manuel
8527,2020-10-22 16:41:47,1319318041033732096,RT @rmajadas: Mi idea para la app de la @EMTma...,ruben
8528,2020-10-22 16:41:11,1319317889955041280,RT @edugaresp: El servicio de alquiler de bici...,Terronidus üîª‚úäüèª
8529,2020-10-22 16:41:06,1319317871122579457,RT @PlataformaEMT: Esta es la situaci√≥n actual...,Community Monguer
8530,2020-10-22 16:39:10,1319317381450268677,RT @PlataformaEMT: ATENT@S A LOS PR√ìXIMOS DIAS...,V√≠tor Manuel
8531,2020-10-22 16:39:05,1319317360394801153,RT @PlataformaEMT: Esta es la situaci√≥n actual...,V√≠tor Manuel
8532,2020-10-22 16:38:47,1319317285790748672,RT @edugaresp: El servicio de alquiler de bici...,Jorinjas
8533,2020-10-22 16:38:36,1319317238776778754,RT @PlataformaEMT: Esta es la situaci√≥n actual...,Willy van der Beeck
8534,2020-10-22 16:38:30,1319317213896114176,RT @rmajadas: Mi idea para la app de la @EMTma...,Etbaalüîª

### 2.3 Save to csv

- **Check Dataframe shape** 
<br>
        Check df shape
<br>
        Check new tweets (i.e. difference between old and updated df)
- **Save to existing 'rawdata.csv'** 
<br> 
        Save only aditional tweets (i.e. df updated) 
<br>

In [12]:
# Updated df shape (rows cols)
df.shape

(8719, 4)

In [13]:
# New tweets 
df.shape[0] - df_old.shape[0]

194

In [14]:
# save to csv - add a dataframe to an existing csv file
df.to_csv('../data/raw/rawdata.csv', header=True)